* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

:root {
    --fixed_item-bg: #6C22A6;
    --font-nav-link-color: #FFFBF5;
    --font-welcome-h1-color: #96E9C6;
    --font-welcome-p-color: white;
    --body-bg: #0ddbea46;

    --font-welcome-h1-size: 3rem;
    --font-welcome-h2-size: 2rem;
    --font-nav-link-size: 1.5rem;
}

body {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--body-bg);
    /* background: linear-gradient(200deg, #0d53ea, #0691e7f4, #5c9896e6);
    background-size: 100% 100%;
    animation: gradient-animation 8s ease infinite; */
}

/* setting a bar for navbar and footer */
.bar {
    height: 10%;
    background-color: var(--fixed_item-bg);
}

/* navbar start */
nav {
    /* fixing the navbar to the top */
    position: fixed;
    /* Setting nav_links end of the navbar at center */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.navbar_list {
    display: flex;

}

.check {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.nav_link a {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: var(--font-nav-link-color);
    font-size: var(--font-nav-link-size);
    text-decoration: none;
    padding: 15px;

}

/* navbar over */

/* welcome section start */
.gradient-background {
    background: linear-gradient(-300deg, #d00dea, #af06e7f4, #5c9898e6);
    background-size: 100% 100%;
    animation: gradient-animation 8s ease infinite;
}

.welcome_section_container {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.welcome_note {
    font-size: 3rem;
    font-family: "Pacifico", cursive;
    color: var(--font-welcome-h1-color);

}

p {
    margin: 0 0 0 100px;
    color: var(--font-welcome-p-color);
}

/* The typing effect */
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3.5s steps(28, end);
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {

        border-color: transparent;
    }

}

/* The typing effect over and  welcome section over */

/* projects section Start */
h2 {
    display: block;
    padding: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: var(--font-welcome-h2-size);
}

h3 {
    border: 1px solid black;
    margin: 0 40px 20px 40px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: var(--font-nav-link-color);
    font-size: var(--font-nav-link-size);
}

a {
    text-decoration: none;
}

.project_tile {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

div img {
    flex-wrap: wrap;
    margin: 20px 20px 10px 20px;
    width: 380px;
    height: 300px;
    border-radius: 20px;

}

.projects_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    /* background-color: #96E9C6; */
    background: linear-gradient(-200deg, #a00dea, #0691e7f4, #8a5c98e6);
    background-size: 100% 100%;
    animation: gradient-animation 8s ease infinite;
    border-radius: 20px;
}

/* projects section over*/

/* Profile Section & Contact Me section Start*/
.profiles_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    /* background-color: #6C22A6; */
}

.profile_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.profile_tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100%/3);
}

.profile_tile a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    background-color: #6C22A6;
    margin-right: 10px;
    margin-left: 50px;
    border-radius: 20px;
}

.profile_tile a h3 {
    display: flex;
    width: 80%;
    margin: 15px;
    border: none;

}

li img {
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
}

/* Profile Section & Contact Me section Over*/
/* footer section */
h4 {
    color: white;
    align-items: center;
    font-family: "Mountains of Christmas", serif;
}

footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* footer section */
h3:hover,
nav a:hover {
    color: var(--font-welcome-h1-color);
    background-color: rgba(0, 0, 0, 0.384);
}

img:hover {
    transform: scale(1.05);
}



